<!doctype html>

<html lang="en">  
    <head>
        <meta charset="UTF8">
        <title>Word.</title>


        <!-- <link href='css/main.css' rel='stylesheet' type='text/css'> -->
    </head>
    <body>
    	<header id="container">
            <h1 class="main_title"><%= link_to "word.", root_path %></h1>
    <nav>
        <% if session[:user_id] %>
            <%= link_to "my words", word_path(session[:user_id]) %> | 
            <%= link_to "log out", sessions_path, method: :delete %>
        <% else %>
            <%= link_to "log in", 'users/sign_in' %>
        <% end %>
    </nav></br></br></br>

    <div class="word-search">
        <%= form_tag words_search_path, method: "get" do %>
            <%= text_field_tag(:word, nil, placeholder: "PUT WORD HERE", ) %>
            <input type="submit">
        <% end %>
    </div>
    
        </header>
   <script type="text/template" id="word-template">
        <div id="word">
        <div id="word-paper">this is where the word goes</div>
      </div>
</script> 
        </div></br></br></br></br>
        <footer id="word_of_the_day">
                <h2 class="random_word">traversing</h2>
                <h4>v. Present participle of traverse.</h4>
                <h4>adj. Adjustable laterally; having a lateral motion, or a swinging motion; adapted for giving lateral motion.</h4>
                <h4>n. The motion of the cutting tool in a machine: strictly, it denotes the motion across the work, but is popularly extended to mean the same as ‘travel’ (of the tool or its carriage). Originally, it was the horizontal angular motion of a gun-carriage.</h4>
        </footer>

    </body>
</html> 