<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Type:</strong>
  <%= @word.type %>
</p>

<p>
  <strong>Definitions:</strong>
  <%= @word.definitions %>
</p>

<p>
  <strong>Synonyms:</strong>
  <%= @word.synonyms %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @word.sentence %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
